<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>Početna</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container flex">
            <div class="login-page">
                <div class="text">  
                    <div class="project-name">
                        <div class="logo">
                            <img src="/images/logo.png" alt="">
                        </div>
                        <h1>BALKANLIN<span style="color: #FF9F1C;">GO!</span></h1>
                    </div>
                    <br>    
                    <p>BALKANLIN<span style="color: #FF9F1C;">GO!</span> je aplikacija koja učenje stranih jezika čini zanimljivim i</p>
                    <p>održivim. Izaberi strani jezik i uživaj u nekoliko načina učenja! No prvo...</p>
                    <br><br>
                    <div class="button-cont">
                        <div class="button-container">
                            <div class="button-label">Želiš naučiti još?</div>
                           <a href="/login"> <button class="button">Prijavi se</button></a>
                        </div>
                        <div class="button-container">
                            <div class="button-label">Prvi si put ovdje?</div>
                            <a href="/register"><button class="button">Registriraj se</button></a>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="image-bottom">
                        <img src="/images/balkanlingici.png" alt="" style="max-width: 60%;">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>