<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <title>Prijava</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="container flex">
    <div class="login-page flex">
      <div class="text">
        <div class="project-name">
          <div class="logo">
            <img src="/images/logo.png" alt="" />
          </div>
          <h1>BALKANLIN<span style="color: #ff9f1c">GO!</span></h1>
        </div>
        <br />
        <p>
          Odlično te opet vidjeti! <br />
          <b>Unesi svoje podatke</b> i ponovno <br />
          kreni s učenjem!
        </p>
        <br /><br /><br />
        <div class="image-bottom">
          <img src="/images/balkanlingici.png" alt="" style="max-width: 60%" />
        </div>
      </div>
      <form action="/user/login" method="post">
        <label for="email">EMAIL</label>
        <input id="email" name="email" type="email" placeholder="unesi svoj email..." required />
        <label for="name">LOZINKA</label>
        <input id="name" name="password" type="password" placeholder="unesi svoju lozinku..." required />
        <a href="/reset" class="forgot">Ne znaš lozinku?</a>
        <div class="link">
          <button type="submit" class="login">Prijavi se</button>
          <h3>Nemaš korisnički profil?</h3>
          <a class="register" href="/register">Stvori ga</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>