<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <title>Zaboravljena lozinka</title>

  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="container flex">
    <div class="login-page flex">
      <div class="text">
        <div class="project-name">
          <div class="logo">
            <img src="/images/logo.png" alt="" />
          </div>
          <h1>BALKANLIN<span style="color: #ff9f1c">GO!</span></h1>
        </div>
        <br />
        <p>Upiši svoju <b>novu lozinku</b></p>
        <p>i dobro ju zapamti!</p>
        <br /><br /><br />
        <div class="image-bottom">
          <img src="/images/balkanlingici.png" alt="" style="max-width: 60%" />
        </div>
      </div>
      <form action="/user/createPass" method="post">
        <input id="name" name="email" type="hidden" placeholder="unesi svoj email..." value="{{ email }}" required />
        <label for="password">NOVA LOZINKA</label>
        <input id="name" name="password" type="password" placeholder="unesi svoju lozinku..." required minlength="6" />
        <label for="password2">POTVRDI LOZINKU</label>
        <input id="name" name="password2" type="password" placeholder="ponovno unesi svoju lozinku..." required
          minlength="6" />
        <br />
        <div class="link">
          <button type="submit" class="login">SPREMI</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>