<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <title>Email obavijest</title>
  <link rel="stylesheet" href="/css/home.css" />
</head>
<script>
  window.onload = function () {
    setTimeout(function () {
      window.location.href = "/login";
    }, 5000);
  };
</script>

<body>
  <div class="container flex">
    <div class="login-page">
      <div class="text">
        <div class="project-name">
          <div class="logo">
            <img src="/images/logo.png" alt="" />
          </div>
          <h1>BALKANLIN<span style="color: #ff9f1c">GO!</span></h1>
        </div>
        <br />
        <p>
          <b>Provjeri svoj elektronički sandučić</b> jer smo ti poslali
          poveznicu
        </p>
        <p>putem koje možeš podesiti svoju lozinku! Vidimo se uskoro!</p>
        <br /><br />
        <br /><br /><br />
        <div class="image-bottom">
          <img src="/images/balkanlingici.png" alt="" style="max-width: 60%" />
        </div>
      </div>
    </div>
  </div>
</body>

</html>