<div class="navbar" style="background-image: url('/images/freckleOverlay.png');">
    <div class="navbar-left">
        {% if auth == false %}
        <a href="/login"><img src="/images/logoM.png" alt=""></a>
        {% else %}
        <a href="/dashboard"><img src="/images/logoM.png" alt=""></a>
        {% endif %}
    </div>
    <div class="navbar-right">
        {% if user.IsAdmin || IsAdmin %}
            <a href="/locale/adminLocales"><img src="/images/black-globe.png" alt=""></a>
            <a href="/user/getUsers"><img src="/images/admin.png" alt=""></a>
        {% endif %}
        <a href="/user/edit"><img src="/images/orange-user.png" alt=""></a>
        <a href="/user/logout"><img src="/images/orange-logout.png" alt=""></a>
    </div>
</div>
<hr>