
        <br />
        <p>Upiši svoju <b>novu lozinku</b></p>
        <p>i dobro ju zapamti!</p>
        <br /><br /><br />
        <div class="image-bottom">
          <img src="/images/balkanlingici.png" alt="" style="max-width: 60%" />
        </div>
      </div>
      <form action="/user/createPass" method="post">
        <input id="name" name="email" type="hidden" placeholder="unesi svoj email..." value="{{ email }}" required />
        <label for="password">NOVA LOZINKA</label>
        <input id="name" name="password" type="password" placeholder="unesi svoju lozinku..." required minlength="6" />
        <label for="password2">POTVRDI LOZINKU</label>
        <input id="name" name="password2" type="password" placeholder="ponovno unesi svoju lozinku..." required
          minlength="6" />
        <br />
        <div class="link">
          <button type="submit" class="login">SPREMI</button>
        </div>
      </form>
    