
  <br />
  <p>U samo nekoliko minuta stvori</p>
  <p><b>svoj korisnički profil</b> i kreni s</p>
  <p>igrom (khm, učenjem!).</p>
  <br /><br /><br />
  <div class="image-bottom">
    <img src="/images/balkanlingici.png" alt="" style="max-width: 60%" />
  </div>
</div>
<form action="/user/register" method="post">
  <label for="name">IME</label>
  <input id="name" name="name" type="text" placeholder="unesi svoje ime..." required />
  <label for="surname">PREZIME</label>
  <input id="surname" name="surname" type="text" placeholder="unesi svoje prezime..." required />
  <label for="email">EMAIL</label>
  <input id="email" name="email" type="email" placeholder="unesi svoj email..." required />
  <br />
  <div class="link">
    <button type="submit" class="login">Registriraj se</button>
    <h3>Već imaš korisnički profil?</h3>
    <a class="register" href="/login">Prijavi se</a>
  </div>
</form>
