
  <p>Upiši svoj <b>email</b></p>
  <p>za dobivanje lozinke!</p>
  <br /><br /><br />
  <div class="image-bottom">
    <img src="/images/balkanlingici.png" alt="" style="max-width: 60%" />
  </div>
</div>
<form action="/user/reset" method="post">
  <label for="email">EMAIL</label>
  <input id="name" name="email" type="email" placeholder="unesi svoj email..." required />
  <br />
  <div class="link">
    <button type="submit" class="login">SPREMI</button>
    <h3>Sjećaš se lozinke?</h3>
    <a class="register" href="/login">Povratak</a>
  </div>
</form>
  