<div class="main-search">
    <div class="flex-container">
        <h2 class="language-title">Uređivanje administratora</h2>
        <div class="word-search-container">
            <input class="word-search" type="text" placeholder="Pretraži korisnike..." name="email" hx-post="/user/getUsers"
            hx-trigger="input changed delay:100ms, search" hx-target="#words" hx-swap="outerHTML"
            >
        </div>
        <br>
        {% include './user/partials/userList.html' %}
        <a href="/"><img class="home-image" src="/images/orange-home.png" alt=""></a>
    </div>
</div>