
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald Regular', sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.navbar, .footer {
  height: auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 15px 10px 10px 10px;
  flex-wrap: wrap;
}
.navbar-left, .navbar-right, .footer-left, .footer-right {
  display: flex;
  align-items: center;
}

.navbar img, .footer img {
  margin: 0 10px;
}

.navbar-left img {
  max-width: 230px;
}

.navbar-right img {
  max-width: 50px;
}

.footer-left {
  font-size: 13px;
  margin-left: 15px;
  color: black;
}

.footer-right img {
  margin-bottom: 20px;
  max-width: 300px;
  max-height: 60px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  background-color: #ffecd3;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.main-dictionary-show {
    padding: 20px;
    background-color: #ffecd3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    padding: 20px;
  }

.dictionary, .add-dictionary {
  height: 200px;
  min-height: 210px;
  min-width: 140px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: all 0.2s;
}

.dictionary {
  width: 125px;
  justify-content: space-around;
  background-size: 200%;
  background-position: center;
  backdrop-filter: brightness(0.7);
}

.dictionary:hover {
  background-size: 250%;
}

.dictionary-name {
  max-width: 100%;
  margin-top: 5px;
  color: #ffffff;
  text-shadow: black 1px 0 10px;
}

.dict-button {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 4px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
}

.add-dictionary {
  justify-content: center;
  border: 4px dashed #ff9f1c;
  cursor: pointer;
}

.add-dictionary p {
  text-align: center;
  color: #ff9f1c;
}

.add-dictionary:hover {
  filter: brightness(1.1);
}

.button-container {
  filter: brightness(1.05);
  transform: scale(1.05);
}

hr {
  background-color: #ff9f1c;
  border: 1px solid #ff9f1c;
  margin: 0;
}

@media (max-width: 867px) {
  .navbar, .footer {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .main-holder {
    align-content: center;
    justify-content: center;
}

  

  .footer-right svg {
    max-width: 200px;
    max-height: 60px;
  }

  .navbar-right img {
    max-width: 40px;
  }

  .navbar-left img {
    max-width: 150px;
  }
}