<div class="main-search">

    <div class="flex-container">
        <h2 class="language-title">{{ dictionary.Name }}</h2>
        <div>
            <input class="word-search" type="text" placeholder="Pretrazi strane rijeci..." name="word"
            hx-post="/dictionary/search/{{ dictionary.ID }}" hx-trigger="input changed delay:100ms, search"
            hx-target="#words" hx-swap="outerHTML">
        </div>

        <div class="img-container">
            <a href="/word/addWord/{{ dictionary.ID }}"><img src="/images/black-add.png" alt=""> </a>
        </div>
        <img class="word-search-image" src="/images/white-search.png" alt="">
        {% include './word/partials/wordsList.html' %}
        <a href="/"><img class="home-image" src="/images/orange-home.png" alt=""></a>
    </div>

</div>