<script>


        // Get references to the button and audio element
        var playButton = document.getElementById('playButton');
        var audioElement = document.getElementById('audioElement');

        // Add a click event listener to the button
        playButton.addEventListener('click', function () {
            // Check if the audio is currently paused, and play it if it is
            if (audioElement.paused) {
                audioElement.play();
            } else {
                // If the audio is already playing, you can pause it
                audioElement.pause();
            }
        });
    

</script>